/* div{
    border: 1px solid black;
} */

.numbers{
    display: inline-block;
}

.body-calculator{
    display: inline-block;

}

.btn-xl{
    width: 80px;
    height: 80px;
}

.large{
    width: 42%;
}

.orange{
    background-color: #ff8c00;
    border: none;
} 